<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.musicplayer.aow">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.telephony" />

    <!--<permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />-->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tool:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACTION_PICK_WIFI_NETWORK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tool:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission
        android:name="android.permission.READ_PRECISE_PHONE_STATE"
        tool:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tool:ignore="ProtectedPermissions" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
        android:name=".application.MusicPlayerApplication"
        android:allowBackup="false"
        android:banner="@drawable/ic_logo"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mp.app.name"
        android:largeHeap="true"
        android:restoreAnyVersion="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <!-- Main activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullUser"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                android:value=".ui.main.search.SearchActivity" />
        </activity>

        <receiver
            android:name=".utils.security.IncomingSms"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".delegates.player.PlaybackService"
            android:enabled="true"
            android:exported="true"
            android:label="Musixplay"
            tool:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <!-- Firebase -->
        <service
            android:name=".delegates.firebase.MyFirebaseMessagingService"
            tool:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".delegates.firebase.FirebaseIDService"
            tool:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".delegates.exo.AudioDownloadService" />
        <service
            android:name=".delegates.input.MyInputMethodService"
            android:enabled="true"
            android:exported="true"
            android:label="Musixplay Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            tool:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
                <action android:name="com.musicplayer.musixplay" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name=".delegates.scheduler.jobs.MyJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".ui.external.ExternalPlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.external.VideoViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.main.library.activities.AlbumSongs"
            android:label=""
            android:screenOrientation="user">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.library.activities.ArtistSongs"
            android:screenOrientation="user">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.library.playlist.offline.PlaylistSongs.PlaylistSongsListActivity"
            android:label="Playlist"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="user"
            tool:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="user">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.nowplaying.NowPlayingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.main.library.home.browse.BrowseActivity" />
        <activity android:name=".ui.main.library.home.podcast.PodcastActivity" />
        <activity android:name=".ui.main.library.home.podcast.PodcastSearchActivity" />
        <activity android:name=".ui.auth.AuthActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.auth.SignUpActivity" />
        <activity android:name=".ui.auth.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.eq.EqActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".delegates.game.RouletteActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.event.MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.event.EventsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musicplayer.aow.ui.main.MainActivity" />
        </activity>
        <activity android:name=".ui.recorder.VoiceRecorderActivity" />
        <activity android:name=".ui.acrcloud.IdentifySoundActivity" />



        <activity android:name=".ui.main.search.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        
        
        <provider
            android:authorities="com.musicplayer.aow.ui.main.search.adapter.MySuggestionProvider"
            android:name=".ui.main.search.adapter.MySuggestionProvider"
            android:exported="false" />


        <activity android:name=".ui.main.library.home.artist.ArtistOnline" />
        <activity android:name=".ui.main.library.playlist.online.playlistsongs.PlaylistSongsActivity" />

        <receiver android:name=".ui.widget.AppWidgetHomeOne">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_home_one_info" />
        </receiver>

        <activity
            android:name=".ui.about.AboutUsActivity"
            android:parentActivityName=".ui.main.MainActivity"/>
    </application>

</manifest>